* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: "Open-Sans";
}

h2{
    font-size:5rem;
    font-weight:bold;
    padding: 3rem;
}

.coming-soon{
    min-height:100vh;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.hour,.second,.minute {
    font-size:3rem;
}